n8n workflows/n8n demo AI agent.json
{
  "name": "n8n demo AI agent",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17efcf7b-e8da-4a05-bb3d-b3dc8a7c110f",
              "name": "=text",
              "value": "={{$json.body.text}}",
              "type": "string"
            },
            {
              "id": "65acdea0-5202-4f14-ab58-f2558b589bf4",
              "name": "originalText",
              "value": "={{$json.body.text}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        192
      ],
      "id": "9c7beec6-1d38-4e88-9098-1a3bd17d6d1d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -432,
        384
      ],
      "id": "839b5c4d-c183-40bb-a421-0fa724a75302",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "repository": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "title": "=Bug report: {{$node[\"Edit Fields\"].json[\"originalText\"]}}",
        "body": "=utomatically created from AI workflow.\n\nDescription:\n{{$node[\"Edit Fields\"].json[\"originalText\"]}}\n\nSource: n8n automation",
        "labels": [],
        "assignees": []
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -16,
        320
      ],
      "id": "32079987-e67b-4572-8b38-20fe83887782",
      "name": "Create an issue",
      "webhookId": "8cd5a205-5774-4a91-9f68-13ada3e3e459",
      "credentials": {
        "githubApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d75522bc-dfba-426a-9a57-0e02742290bc",
              "name": "message",
              "value": "=Created an issue in GitHub with ID {{$json.number}}: {{$json.html_url}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        320
      ],
      "id": "8a4170f5-f945-42bd-86ec-6a3a880a6d86",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "execute-workflow",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -784,
        192
      ],
      "id": "a2cd9591-a27c-4bfe-9aa8-ce9c585f23b7",
      "name": "Webhook",
      "webhookId": "48686b50-3b3e-43b5-8c38-aecf5ad80cdb"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful .NET assistant.\n\nAnswer the following technical question clearly and concisely.\nIf relevant, include short practical guidance.\n\nQuestion:\n{{$node[\"Edit Fields\"].json[\"originalText\"]}}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        0,
        0
      ],
      "id": "315b66fa-4ecb-4682-9aba-4794d9d8db5f",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        0,
        176
      ],
      "id": "eca27371-af29-432f-9790-cea39eb70ec6",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d75522bc-dfba-426a-9a57-0e02742290bc",
              "name": "message",
              "value": "={{$json.text}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        0
      ],
      "id": "898286ff-f5db-4244-8cd6-595c85e5e8a3",
      "name": "Edit Fields2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        432,
        192
      ],
      "id": "057aca5a-8169-4dd8-9ee1-b625e04ece79",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.text}}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a strict classifier.\n\nClassify the user's text into exactly one category:\n\n- Technical: questions about .NET, APIs, configuration, dependency injection, authentication, coding help\n- Bug: errors, crashes, exceptions, broken behavior, unexpected results\n\nReturn only valid JSON in exactly this format:\n{\"category\":\"Technical\"}\n\nor\n{\"category\":\"Bug\"}\n\nDo not include:\n- an \"output\" property\n- a \"required\" property\n- explanations\n- markdown\n- code fences\n- any extra keys"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -432,
        192
      ],
      "id": "19d41c0d-58b3-4da4-9135-cdd6f2ed6dca",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7e8f3e0a-4d73-4172-8a25-5f5ecc4e4e45",
              "leftValue": "={{ JSON.parse($json.output).category }}",
              "rightValue": "Technical",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -160,
        192
      ],
      "id": "9a033e5e-015a-44f7-8a6e-08c4748c1d71",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create an issue": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create an issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "7e531dec-515f-43ff-81d4-712b4356516b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0101bb3a8d46fcd0ad922acc26dc03e02c37e2f329f2336e8107843432e55783"
  },
  "id": "6ykuSSbt8MajUKGkzd8OO",
  "tags": []
}